{% extends "base.html" %}

{% block content %}
    <body>
    <header class="pb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
            <div class="container">
                <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                Главная
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <section class="container my-5 px-4">
            <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
            <p class="text-center my-4">
                Создайте короткую ссылку автоматически или предложите свой вариант
            </p>

            <div class="container">
                <div class="row my-3">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <form method="POST" novalidate>
                            {{ form.csrf_token }}
                            <div>
                                <div>
                                    {{ form.original_link(class="form-control form-control-lg py-3 mb-3", placeholder=form.original_link.label.text) }}
                                    {% with messages = get_flashed_messages(category_filter=["origin_error"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <p><span style="color:red">{{ message }}</span></p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div>
                                    {{ form.custom_id(class="form-control form-control-lg py-3 mb-3", placeholder=form.custom_id.label.text, rows="3", cols="40") }}
                                    {% with messages = get_flashed_messages(category_filter=["short_error"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <p><span style="color:red">{{ message }}</span></p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                {{ form.submit(class="button px-5 py-3  btn-primary btn ") }}
                            </div>
                        </form>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row ">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        {% if short %}
                            <p class="text-center">
                            <h5 class="text-center">
                                <a href="{{ url_for('redirection', id=short, _external=True) }}"
                                   style="color:darkblue; text-decoration:none">{{ url_for('redirection', id=short, _external=True) }}</a>
                                </p>
                            </h5>
                            </p>
                        {% endif %}

                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer class="fixed-bottom border-top text-center py-3">
        <p>Укоротитель ссылок YaCut</p>
    </footer>
{% endblock %}